nav {
    font-family: Arial
}

img {
    /* width: 200px;
    height: auto; */
    
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* body {
max-width: 500px; display: flex; justify-content: center;
} */

body {
    background: black;
    color: white;
    margin: 0px;
}

/* main {
} */

/* main {
    max-width: 500px;
    display: flex;
    justify-content: center;
} */

/* article {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
} */

/* p {
    color: red;
} */

.programsImageBackground {
    background-image: linear-gradient(to right, black, transparent, black), url('../assets/all_nx_programs.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0px 50px 0px;
    /* max-width: fit-content; */
    /* margin-inline: auto; */
}
.codeImageBackground {
    background-image: linear-gradient(to right, black, transparent, black), url('../assets/lots_of_code.png');
    /* background-image: linear-gradient(rgba(255, 0, 0, 0.263), rgba(255, 255, 0, 0.318)); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0px 50px 0px;
    /* max-width: fit-content; */
    /* margin-inline: auto; */
}

/* .textAndImage {
    display: flex;
    flex-direction: row;
} */

.textBackground{
    max-width: 800px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px;
    border-radius: 25px;
    min-height: 500px;
    margin-inline: auto;
    /* display: flex;
    flex-direction: column; */
    /* margin-top: 50px; */
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgba(128, 128, 128, 0.9);
    justify-content: center;
    /* margin-bottom: 50px; */
}

nav{
    /* max-width: 800px; */
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 50px; */
}

.navButtons {
    /* flex: 1; */
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navButton {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex  */
}

.homeButton {
    /* flex: 1; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex  */
}

.homeButton:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.navButton:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.rightNavButton:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.rightNavButton {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex */
}

/* .background-image {z-index: 1;} */

/* Arial, Helvetica, sans-serif */

a:link {
    color: white;
}

a:visited {
    color: white;
}

/* a:hover {
    color: blue;
} */

table {
    width: 100%;
    border-collapse: collapse;
}
.failed {
    background-color: rgba(255, 0, 0, 0.5);
}
.passed {
    background-color: rgba(0, 255, 0, 0.5);
}
.active{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}
.empty{
    background-color: rgba(0, 0, 0, 0);
    color: #444;
}
th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #020202;
}


.table {
    display:flex;
    flex-direction: column;
    flex-direction: column;
}

.tr {
    display:flex;
    flex-direction: row;
}

.th {
    display:flex;
    background-color: #020202;
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    flex: 1;
}

.td {
    display:flex;
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    flex: 1;
}