nav {
    font-family: Arial
}

img {
    /* width: 200px;
    height: auto; */
    
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* body {
max-width: 500px; display: flex; justify-content: center;
} */

body {
    background: black;
}

main {
    max-width: fit-content;
    margin-inline: auto;
}

/* main {
    max-width: 500px;
    display: flex;
    justify-content: center;
} */

article {
    max-width: 800px;
    /* display: flex;
    flex-direction: column; */
}

/* p {
    color: red;
} */

.programsImageBackground {
    background-image: url('../assets/all_nx_programs.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
}
.codeImageBackground {
    background-image: url('../assets/lots_of_code.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px;
}

.textAndImage {
    display: flex;
    flex-direction: row;
}

.textBackground{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px;
    border-radius: 25px;
    min-height: 200px;
    /* display: flex;
    flex-direction: column; */
}

/* .background-image {z-index: 1;} */

/* Arial, Helvetica, sans-serif */