html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside {
    text-align: center;
}

aside li {
    list-style-type: none;
}

body {
    background: black;
    margin: 0px;
}

.programsImageBackground {
    background-image: linear-gradient(to right, black, transparent, black), url('../assets/all_nx_programs.png');
    padding: 50px 0px 50px 0px;
}

.codeImageBackground {
    background-image: linear-gradient(to right, black, transparent, black), url('../assets/lots_of_code.png');
    padding: 50px 0px 50px 0px;
}

.firstBar {
    padding-top: 100px;
}

.hzLogo {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.textAndImage {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.niceShadow {
    filter: drop-shadow(10px 10px 5px #333);
}

.textBackground {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px;
    border-radius: 25px;
    margin-inline: auto;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgba(128, 128, 128, 0.9);
    justify-content: center;
}

nav {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navButton {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.navButton:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.rightNavButton:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.rightNavButton {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

input[type="number"],
textarea {
    background-color: #000;
    color: #fff;
}

details p {
    padding-left: 20px;
    color: #ccc;
}